%div{:class => "mdl-grid content-center"}
  %div{:class => "group"}
    = link_to "I have an account", auth_index_path, :class => "mdl-button mdl-js-button mdl-js-ripple-effect"
    %a{:class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"} I am a new user
  
  = form_tag User, :method => :post do
    %div{:class => "mdl-textfield mdl-js-textfield"}
      %input{:class => "mdl-textfield__input", :type => "text", :id => "user_email"}
      %label{:class => "mdl-textfield__label", :for => "user_email"} email address

    %div{:class => "mdl-textfield mdl-js-textfield"}
      %input{:class => "mdl-textfield__input", :type => "password", :id => "user_password"}
      %label{:class => "mdl-textfield__label", :for => "user_password"} password

    %div{:class => "mdl-textfield mdl-js-textfield"}
      %input{:class => "mdl-textfield__input", :type => "password", :id => "user_password_confirm"}
      %label{:class => "mdl-textfield__label", :for => "user_password_confirm"} confirm password

    %input{:class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", :type => "submit", :value => "Create account"}

  
%div{:class => "google_button"}
  - if current_user
    Signed in as
    = succeed "!" do
      %strong= current_user.name
    = link_to "Sign out", signout_path, id: "sign_out"
  - else
    = link_to image_tag('google_button.png'), "/auth/google_oauth2", id: "sign_in"
    
    
