- ign = x[:name]
- level = x[:summonerLevel]
- icon = @client.summoner.icon(x[:profileIconId])
- rankInfo = @client.summoner.get_solo(x[:id])
- tier = rankInfo[:tier]
- rank = rankInfo[:rank]
- lp = rankInfo[:leaguePoints]
- champion_mastery = @client.summoner.champion_mastery(x[:id], 3)

%a{:class => "summoner-card", :href => "/summoner/#{ign}"}
  %div{:class => "summoner-icon-container"}
    %img{:src => asset_path("ranks-borders/#{tier}.png")}/
    %div{:class => "summoner-icon", :style => "background-image: url('#{icon}')"}

  %div{:class => "group"}
    %p{:class => "summoner-name"} #{ign}
    %p{:class => "summoner-level"} LVL : #{level}

  %div{:class => "group"}
    %p{:class => "summoner-rank"} #{tier} #{rank}
    %p{:class => "summoner-lp"} #{lp} LP
    %div{:class => "summoner-win-loss"}
      -# the width would be the count/total
      - win = rankInfo[:wins]
      - loss = rankInfo[:losses]
      - total = win + loss
      - win_rate = (win.to_f/total) * 100
      %p{:class => "summoner-win-count", :style => "width: #{win_rate}%"} #{win}W
      %p{:class => "summoner-loss-count", :style => "width: calc(100% - #{win_rate}%)"} #{loss}L

  %div{:class => "group--champions"}
    -champion_mastery.each do |x|
      - champIcon = @client.champion.icon(@client.champion.get_name(x['championId']))
      - champLevel = x['championLevel']
      - champMastery = @client.champion.points(x['championPoints'])
      -# For each loop here
      %div{:class => "summoner-mastery-champion"}
        %p{:class => "summoner-mastery-champion-level"} #{champLevel}
        %div{:class => "summoner-mastery-champion-icon", :style => "background-image: url('#{champIcon}')"}
        %p{:class => "summoner-mastery-champion-points"} #{champMastery}