%div{:class => "summoner-show-page"}

    - tier = "CHALLENGER"
    - rank = 1

    -# change the background image of section
    %div{:class => "section--intro", :style => "background-image: url('http://lolwp.com/wp-content/uploads/2014/07/Gentleman-Gnar.jpg')"}
        %div{:class => "container--narrow--flex"}
            %div{:class => "group--icon"}
                %img{:src => asset_path("ranks-borders/#{tier}.png")}/
                %div{:class => "icon"}
                %p{:class => "level"} 37

            %div{:class => "group--info"}
                %p{:class => "name"} SKT T1 Faker
                %p{:class => "rank"} #{tier} #{rank}
                %p{:class => "lp"} 23 LP

            %div{:class => "group"}
                %div{:class => "rank-group"}
                    -# for loop here for the ranks
                    %div{:class => "individual"}
                        %p{:class => "title"} Solo
                        %img{:src => asset_path("rank-icons/#{tier}_#{rank}.png"), :class => "image"}/

                    %div{:class => "individual"}
                        %p{:class => "title"} Flex
                        %img{:src => asset_path("rank-icons/#{tier}_#{rank}.png"), :class => "image"}/

                    %div{:class => "individual"}
                        %p{:class => "title"} TT
                        %img{:src => asset_path("rank-icons/#{tier}_#{rank}.png"), :class => "image"}/

                %div{:class => "position-group"}
                    -# for loop here for position
                    %div{:class => "individual"}
                        %p{:class => "title"} Position
                        %div{:class => "icon--smaller"}

                    %div{:class => "individual"}
                        %p{:class => "title"} Position
                        %div{:class => "icon--smaller"}

            %a{:class => "mdl-button mdl-js-button button--follow"} Follow

    %div{:class => "section--kda-champs"}
        %div{:class => "container--narrow--flex"}
            %div{:class => "group"}
                %div{:class => "win-loss"}
                    -# the width would be the count/total
                    - win = 23
                    - loss = 12
                    - total = win + loss
                    - win_rate = (win.to_f/total) * 100
                    %p{:class => "win-count", :style => "width: #{win_rate}%"} 34W
                    %p{:class => "loss-count", :style => "width: calc(100% - #{win_rate}%)"} 23L
                %p{:class => "kda"} 3.7:2:5 KDA (37%)

            -# for each most played champion...
            %div{:class => "group"}
                %div{:class => "most-played-champion"}
                    %div{:class => "icon--smaller"}
                    %p{:class => "win-loss-count"} 32W 53L
                -# delete these two once for loop is created
                %div{:class => "most-played-champion"}
                    %div{:class => "icon--smaller"}
                    %p{:class => "win-loss-count"} 32W 53L
                %div{:class => "most-played-champion"}
                    %div{:class => "icon--smaller"}
                    %p{:class => "win-loss-count"} 32W 53L

    %div{:class => "section--recent-games"}