%div{:class => "mdl-grid content-center"}
  %div{:class => "group"}
    %a{:class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"} I have an account
    = link_to "I am a new user", users_new_path, :class => "mdl-button mdl-js-button mdl-js-ripple-effect"

  = form_tag sessions_path do

    %div{:class => "mdl-textfield mdl-js-textfield"}
      = label_tag :email, 'email', :class => "mdl-textfield__label"
      = text_field_tag :email, '', :class => "mdl-textfield__input", :required => true

    %div{:class => "mdl-textfield mdl-js-textfield"}
      = label_tag :password, '******', :class => "mdl-textfield__label"
      = password_field_tag :password, '', :class => "mdl-textfield__input", :required => true

    %input{:class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", :type => "submit", :value => "Log in"}

%br
%br
%div{:class => "google_button"}
  - if current_user
    Signed in as
    = succeed "!" do
      %strong= current_user.name
    = link_to "Sign out", signout_path, id: "sign_out"
  - else
    = link_to image_tag('google_image.png'), "/auth/google_oauth2", id: "sign_in"